html {
  font-size: 14px;
}

@media (min-width: 576px) {
  .h-sm-auto {
    height: unset !important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
  h1 {
    font-size: 1.75rem !important;
  }
  .notifications {
    width: 350px !important;
  }

  .rotate-md-90 {
    transform: rotate(90deg);
  }
  .login-note-icon {
    font-size: 30px;
  }
  .login-bg-sky-blue {
    background-color: var(--color-skyblue) !important;
  }
  .login-decorative-img {
    height: 500px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
  .sidebar {
    transform: translateX(0) !important;
  }
  .h-lg-200 {
    height: 200px !important;
  }
  .h-lg-100 {
    height: 100% !important;
  }
  .login-decorative-img {
    top: 50%;
    transform: translateY(-50%);
  }
  .notifications {
    width: 400px !important;
  }

  .rotate-lg-none {
    transform: rotate(0deg) !important;
  }
  .login-note-icon {
    font-size: unset;
  }
  .login-decorative-img {
    height: 200px;
  }
}

@media (min-width: 1167px) {
  .c-card {
    width: 25% !important;
  }
}
